# charts/ghost/values.yaml

replicaCount: 1

image:
  repository: ghost
  tag: "5.130.5-alpine"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 2368

ingress:
  enabled: false          # <--- За замовчуванням ВИМКНЕНО. Це безпечно.
  className: "nginx"
  hosts:
    - host: ghost.local   # <--- Нейтральний хост-заглушка
      paths:
        - path: /
          pathType: Prefix

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

url: "http://localhost"

# --- БАЗА ДАНИХ (Локальна для кожного середовища) ---
externalDatabase:
  client: mysql
  host: mariadb  # Ім'я сервісу в поточному namespace (staging або production)
  port: 3306
  user: ghost
  database: ghost
  # Пароль береться з секрету

# --- ПОШТА (Ethereal за замовчуванням) ---
mail:
  transport: "SMTP"
  options:
    host: "smtp.ethereal.email"
    port: 587
    service: "" # Для Ethereal сервіс не вказуємо
    auth:
      user: "" # Перевизначимо в release.yaml або секретах
      pass: ""

# --- СХОВИЩЕ ТА АДАПТЕР ---
storage:
  active: "Local" # "Local" або "s3"

  # Налаштування S3 (використовуються, якщо active: s3)
  s3:
    region: "eu-north-1"
    bucket: "ghost-exam-baket"

  # Локальний диск (для контенту)
  pvc:
    enabled: true
    size: 2Gi
    path: /var/lib/ghost/content

# --- INIT CONTAINER (Збірка адаптера) ---
adapter:
  enabled: true
  image: node:18-alpine
  installCommand: "mkdir -p /tmp/s3-adapter && cd /tmp/s3-adapter && npm install ghost-storage-adapter-s3"
  path: "/var/lib/ghost/content/adapters/storage/s3"

secrets:
  # База даних (Створюється всюди)
  db:
    create: true
    name: ghost-db-secrets
    values:
      root: ""
      password: ""

  # Пошта (Створюється всюди, Ethereal)
  mail:
    create: true
    name: ghost-mail-secret
    values:
      password: "" # <--- Впишіть сюди ваш пароль від Ethereal один раз

  # S3 (Тільки Prod, тому тут false)
  s3:
    create: false
    name: ghost-aws-secrets
    values:
      accessKey: ""
      secretKey: ""
