replicaCount: 1

image:
  repository: ghost
  pullPolicy: IfNotPresent
  tag: "5.130.5-alpine"

service:
  type: ClusterIP
  port: 80
  targetPort: 2368

ingress:
  enabled: false
  className: ""
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

url: "http://localhost"

externalDatabase:
  client: mysql
  host: mariadb.infrastructure.svc.k8s.com822.dom
  port: 3306
  user: ghost
  password: ghost_password
  database: ghost_db

persistence:
  enabled: true
  storageClass: ""
  size: 5Gi
  path: /var/lib/ghost/content

storage:
  s3:
    enabled: false
    region: "us-east-1"
    endpoint: "http://minio.infrastructure.svc.cluster.local:9000"
    bucket: "ghost-bucket"
    accessKey: "admin"
    secretKey: "admin123"
