replicaCount: 1

image:
  repository: ghost
  pullPolicy: IfNotPresent
  tag: "5.130.5-alpine"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  host: "chart-example.local"

# Змінні середовища для підключення до БД
env:
  url: "http://localhost:2368"
  database__client: "mysql"
  database__connection__host: "mysql"
  database__connection__user: "root"
  database__connection__database: "ghost_data"
  # Пароль будемо брати через secretKeyRef у deployment.yaml, тут не пишемо

resources: {}