# charts/ghost/values.yaml

replicaCount: 1

image:
  repository: ghost
  tag: "5.130.5-alpine"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 2368

ingress:
  enabled: false         
  className: "nginx"
  hosts:
    - host: ghost.local  
      paths:
        - path: /
          pathType: Prefix
  annotations:
   
    cert-manager.io/cluster-issuer: letsencrypt-prod
    
    
    nginx.ingress.kubernetes.io/ssl-redirect: "true"

  hosts:
    - host: ghost.k8s.com822.dom  
      paths:
        - path: /
          pathType: Prefix

  tls:
    - secretName: ghost-prod-tls  
      hosts:
        - ghost.k8s.com822.dom    
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

url: "http://localhost"

# --- БАЗА ДАНИХ (Локальна для кожного середовища) ---
externalDatabase:
  client: mysql
  host: mariadb  
  port: 3306
  user: ghost
  database: ghost
 

# --- ПОШТА (Ethereal за замовчуванням) ---
mail:
  transport: "SMTP"
  options:
    host: "smtp.ethereal.email"
    port: 587
    service: "" 
    auth:
      user: "" 
      pass: ""

# --- СХОВИЩЕ ТА АДАПТЕР ---
storage:
  active: "Local" # "Local" або "s3"

  # Налаштування S3 (використовуються, якщо active: s3)
  s3:
    region: "eu-north-1"
    bucket: "ghost-exam-baket"

  # Локальний диск (для контенту)
  pvc:
    enabled: true
    size: 2Gi
    path: /var/lib/ghost/content

# --- INIT CONTAINER (Збірка адаптера) ---
adapter:
  enabled: true
  image: node:18-alpine
  installCommand:
    - sh
    - -c
    - |
      cd /plugin-volume
      rm -rf *
      npm pack ghost-storage-adapter-s3
      tar -xzf *.tgz --strip-components=1
      rm *.tgz
      npm install --omit=dev --ignore-scripts --no-bin-links
      chown -R 1000:1000 .
  path: "/var/lib/ghost/content/adapters/storage/s3"

secrets:
  # База даних (Створюється всюди)
  db:
    create: true
    name: ghost-db-secrets
    values:
      root: ""
      password: ""

  # Пошта (Створюється всюди, Ethereal)
  mail:
    create: true
    name: ghost-mail-secret
    values:
      password: ""

  # S3 (Тільки Prod, тому тут false)
  s3:
    create: false
    name: ghost-aws-secrets
    values:
      accessKey: ""
      secretKey: ""
