apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/ghost
  - namespace.yaml
  - hpa.yaml
namespace: production

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/ghost
  - namespace.yaml
  - hpa.yaml
namespace: production

patches:
  - target:
      kind: HelmRelease
      name: ghost
    patch: |-
      apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      metadata:
        name: ghost
      spec:
        values:
          url: "http://ghost.k8s.com822.dom"

          # Вмикаємо 2 репліки
          replicaCount: 2

          # Перемикаємося на S3 (AWS)
          storage:
            active: "s3"
            s3:
              region: "eu-central-1"
              bucket: "ghost-exam-images-2025"

          ingress:
            enabled: true
            hosts:
              - host: ghost.k8s.com822.dom
                paths:
                  - path: /
                    pathType: Prefix
