apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/ghost
  - namespace.yaml
  - hpa.yaml
namespace: production

patches:
  # 1. Налаштування Ghost (HelmRelease)
  - target:
      kind: HelmRelease
      name: ghost
    patch: |-
      apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      metadata:
        name: ghost
      spec:
        values:
          # Production URL
          env:
            url: "http://ghost.k8s.com822.dom"

          # Ресурси для Ghost (більше, ніж в Staging)
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi

          # У Production репліками керує HPA, тому тут фіксувати не обов'язково,
          # але для старту ставимо null, щоб не конфліктувати з HPA
          replicaCount: null
          persistence:
            enabled: false
          extraVolumes:
            - name: s3-adapter
              emptyDir: {}
          extraVolumeMounts:
            - name: s3-adapter
              mountPath: /var/lib/ghost/content/adapters/storage/s3
          initContainers:
            - name: install-s3
              image: node:18-alpine
              command:
                - sh
                - -c
                - |
                  echo "Installing S3 adapter..."
                  npm install ghost-storage-adapter-s3
                  mkdir -p /plugin-volume/
                  cp -r node_modules/ghost-storage-adapter-s3/* /plugin-volume/
                  ls -la /plugin-volume/
              volumeMounts:
                - name: s3-adapter
                  mountPath: /plugin-volume
  # 2. Налаштування Бази Даних (Percona Cluster)
  - target:
      kind: PerconaXtraDBCluster
      name: ghost-db
    patch: |-
      apiVersion: pxc.percona.com/v1
      kind: PerconaXtraDBCluster
      metadata:
        name: ghost-db
      spec:
        pxc:
          size: 3
          resources:
            requests:
              memory: 1Gi
              cpu: 500m
        haproxy:
          enabled: true
          size: 2
          resources:
            requests:
              memory: 512Mi
              cpu: 300m
