apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/ghost
  - namespace.yaml
  - hpa.yaml
namespace: production

patches:
  - target:
      kind: HelmRelease
      name: ghost
    patch: |-
      apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      metadata:
        name: ghost
      spec:
        # Інтервал звірки (можна збільшити для проду)
        interval: 1h
        values:
          # --- ГОЛОВНІ НАЛАШТУВАННЯ ---
          url: "http://ghost.k8s.com822.dom"

          # Керування репліками віддаємо HPA
          replicaCount: null

          # Ресурси для Production
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi

          # --- СХОВИЩЕ ---
          # Вимикаємо локальний PVC (важливо, щоб Helm не створив диск)
          persistence:
            enabled: false

          # Вмикаємо S3 (Чарт сам додасть плагін та змінні середовища)
          storage:
            s3:
              enabled: true
              endpoint: "http://minio.minio.svc.k8s.com822.dom:9000"
              bucket: "ghost-bucket"
              region: "us-east-1" # Стандарт для MinIO
              accessKey: "admin"
              secretKey: "admin123" # Перевір, чи тут актуальний пароль

          # --- БАЗА ДАНИХ (MariaDB) ---
          externalDatabase:
            client: mysql
            host: mariadb.infrastructure.svc.k8s.com822.dom
            port: 3306
            user: ghost
            password: ghost_password
            database: ghost_db
