# 1. Репозиторій Bitnami через OCI (надійний метод)
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: bitnami-oci
  namespace: flux-system
spec:
  interval: 1h0m0s
  type: oci  # <--- Використовуємо OCI
  url: oci://registry-1.docker.io/bitnamicharts
